.comic-view {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

@media (max-width: 768px) {
    .comic-view {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 30px;
    }
}

a {
    text-decoration: none;
}
.comic-date {
    color: #ddd9d9;
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}

.comic-item {
    width: 200px;
    height: 150px;
}

.comic-name {
    color: black;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    /* 不换行 */
    overflow: hidden;
    /* 超出部分隐藏 */
    text-overflow: ellipsis;
    /* 超出部分显示省略号 */
}

.comic-item:hover {
    opacity: 0.8;
}

.comic-cover {
    width: 200px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

@media (max-width: 768px) {
    .comic-cover {
        width: 140px;
        height: 80px;
    }
}